.navbar {
    justify-content: start;
    display: flex;
    align-items: center;
    padding: .5rem 2rem .5rem 2rem;
    gap: 1rem;
    background-color: var(--clr-surface-dark);
    border-bottom: 2px solid var(--clr-surface-a10);
}

.nav-links {
    display: flex;
    gap: 1rem;
}



.nav-title {
    color: var(--clr-primary-a50);
    margin: 0rem;
}

.nav-link {
    display: flex;
    align-items: flex-end;
    height: fit-content;
    color: var(--clr-light-a40);
    gap: 5px;   
    border-radius: 5px;
    padding: .25rem .5rem .25rem .5rem;
    transition: all 0.2s;
    h2 {
        font-weight: 400;
        font-size: 18pt;
        margin: 0rem;
        color : inherit;
    }    
}

.nav-link-selected {
    background-color: var(--clr-primary-a0);
    color: var(--clr-light-a0) !important;
    
}

.nav-link-icon {
    font-size: 17pt;
    color : inherit;
}

.nav-link:hover {
    color: var(--clr-light-a50);
}