.navbar {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: .5rem 2rem .5rem 2rem;
    gap: 1rem;
    background-color: var(--clr-surface-dark);
    border-bottom: 2px solid var(--clr-surface-a10)
    
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-title {
    color: var(--clr-primary-a50);
    margin: 0rem;
}

.nav-link {
    font-size: 24pt;
    color: var(--clr-light-a0)
}

.nav-link:hover {
    color: var(--clr-light-a10)
}