/* TitleBar.css */
.title-bar {
  background-color: var(--clr-surface-1);
  position:sticky;
  top:0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-app-region: drag;
  border-bottom: 1px solid var(--clr-border);
  border-top: 1px solid var(--clr-border);
  height: 30px;
}

.title {
    color: var(--clr-text-tertiary);
}

.icon-wrapper {
    display: flex;
    align-items: center;
}

.title-box {
    padding: 2.5px;
    display:flex;
    gap:10px;
    align-items: center;
}

.window-controls>*:hover{
    background-color: rgba(0,0,0,0.1);
}

.window-controls >* {
    white-space: nowrap;
    border-radius: 0px;
    padding: 0 10px;
}

.window-controls {
    border-left: 1px solid var(--clr-border);
}


.window-controls button {
  background: none;
  color: white;
  width: 40px;
  height: 100%;
  -webkit-app-region: no-drag;
  cursor: pointer;
}